html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body>#container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #017FC0;
}

footer {
    background-color: #017FC0;
    padding: 20px 0;
    text-align: center;
}

#inviteButton {
    display: block;
    margin: auto;
    width: 20%;
}

#inviteButton a {
    color: #FBEDF4;
}

#introSection {
    margin: 5%;
}

#introSection p {
    margin: auto;
    display: block;
    width: 75%;
}

#headerTitle {
    width: max-content;
    display: block;
    margin: auto;
    color: #FBEDF4;
}

#userTable {
    width: 50%;
    margin: auto;
}

.userRowLink {
    cursor: pointer;
}

.selected {
    opacity: 50%;
}

#viewButtonContainer {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: auto;
    margin-bottom: 4%;
}

#serverGraph {
    display: block;
    margin: auto;
}

#userGraphSection svg {
    display: block;
    margin: auto;
    margin-top: 2%;
}